
/* Charts Style  */

.fm-charts-color-1 {
    fill: #ffa600 !important;
}

.fm-charts-color-2 {
    fill: #7eae26 !important;
}

.fm-charts-color-3 {
    fill: #00a45a !important;
}

.fm-charts-color-4 {
    fill: #df3800 !important;
}

.fm-charts-color-5 {
    fill: #e95800 !important;
}

.fm-charts-color-6 {
    fill: #ffa600 !important;
}